<%- include header %>
<ul style="list-style:none">
    <li><h3><a href="https://mrwaite.cn">Mrwaite</a></h3>陈威特的个人博客</li>
    <li><h3><a href="http://github.com/Mrwaite">Mrwaite</a></h3>陈威特的github</li>
</ul>
<%- include footer %>